<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="gray">
<table border="1">
<tr >
  <th>pid</th>
  <th>pname</th>
  <th>pcost</th>
    <th>pmfd</th>
    <th>pexpdt</th>
</tr>
{% for rec in records %}
<tr>
  <td>{{ rec.pid }}</td>
  <td>{{ rec.pname }}</td>
  <td>{{ rec.pcost }}</td>
  <td>{{ rec.pmfd }}</td>
  <td>{{ rec.pexpdt }}</td>
</tr>
{% endfor %}
</table>
<a href="/authapp">clck here to insert another product</a>
</body>
</html>
